* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scrollbar-color: black #f0f0f0;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* NAVIGATION */

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
}

nav img {
  width: 70px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

nav ul input {
  border-radius: 2em;
  border: none;
  background-color: rgb(240, 240, 240);
  height: 2.4em;
  width: 25%;
}

#icon {
  position: relative;
}

#icon input {
  width: 250px;
  height: 2.4em;
  padding-left: 2em;
}

nav ul ion-icon {
  margin-top: 1px;
  cursor: pointer;
  padding: 1px;
}

#icon ion-icon {
  position: absolute;
  margin-top: 8px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  background-color: rgb(240, 240, 240);
}

nav ul input:focus {
  border: 0;
  outline: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 16px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* MAIN */

main {
  width: 80%;
  display: grid;
  padding-top: 3em;
  margin: auto;
  /* grid-template-columns: 2fr;
  grid-template-rows: 2fr; */
  grid-template-areas:
    "title title ."
    "articles articles panier"
    "articles articles paid"
    "articles articles .";
  gap: 3em;
}

section.paid {
  grid-area: paid;
}

.pageTitle {
  grid-area: title;
}

.pageTitle button {
  border: none;
  background: none;
}

.pageTitle button a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.shoes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 4em;
}

.shoes > img {
  width: 20%;
  padding-right: 2em;
}

.infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.description ul li {
  list-style-type: none;
  padding: 0.5em 0;
  font-size: 13px;
}

#btnAdd button {
  cursor: pointer;
  border: 0;
  background: none;
  text-decoration: underline;
  font-weight: 600;
}

.quantity_price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* SECTION ARTICLES */
section#articles {
  padding-bottom: 2em;
  grid-area: articles;
}

/* SECTION PANIER */
section#panier {
  background-color: rgb(240, 240, 240);
  grid-area: panier;
}

section#panier h2 {
  margin: 10px;
  padding: 10px;
}

section#panier div.contentbasket {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.769);
}

.article {
  padding-bottom: 1em;
}
.article span {
  padding-bottom: 1em;
}

.number-delete {
  padding-bottom: 1em;
}

section#panier span.productname {
  font-weight: bold;
  text-decoration: underline;
}

section#panier span.price {
  font-weight: bold;
}

.productname {
  display: flex;
  flex-direction: column;
}

.number-delete {
  display: flex;
  justify-content: space-between;
}

#infosprix {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

#infosprix > div {
  display: flex;
  justify-content: space-between;
}

#infosprix > div:nth-child(4) {
  font-weight: bold;
}

#panier > button {
  cursor: pointer;
  color: white;
  border: none;
  background-color: #30a56e;
  font-weight: 600;
  width: 100%;
  height: 3.5em;
  text-transform: uppercase;
}

.buttondelete {
  cursor: pointer;
  color: red;
  background: none;
  border: none;
  font-size: 15px;
}

/* SECTION CREDIT CARDS*/

section.paid {
  background-color: rgb(240, 240, 240);
  padding: 1em;
}

#creditCard {
  display: flex;
  width: 100%;
}

#creditCard ul {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

#creditCard ul li {
  padding: 1em;
}

#creditCard ul li img {
  cursor: pointer;
  width: 60%;
}

/* FOOTER */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1b1b;
  height: 200px;
}

.social a ion-icon {
  padding: 0 0.5em;
  color: rgb(240, 240, 240);
  font-size: 25px;
}

#copyright {
  color: rgb(129, 129, 129);
  padding: 0.5em;
  text-align: center;
  background: #1b1b1b;
}

#copyright p {
  font-size: 12px;
}
