* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* NAVIGATION */

/* MAIN */

main {
  width: 90%;
  display: grid;
  margin: auto;
  grid-template-areas:
    "title title panier"
    "articles articles panier"
    "articles articles panier";
  gap: 2em;
}

.pageTitle {
  grid-area: title;
}

.pageTitle button {
  border: none;
  background: none;
}

.pageTitle button a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.shoes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.shoes > img {
  width: 20%;
}

.infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.description ul li {
  list-style-type: none;
  padding: 0.5em 0;
}

#btnAdd button {
  cursor: pointer;
  border: 0;
  background: none;
  text-decoration: underline;
}

/* SECTION ARTICLES */
section#articles {
  padding: 2em 0;
  grid-area: articles;
}

/* SECTION PANIER */
section#panier {
  grid-area: panier;
}
