* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scrollbar-color: black #f0f0f0;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
  padding: 1em;
}

nav a {
  width: 30%;
  font-weight: 500;
}

nav a img {
  width: 13%;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
}

nav ul li input {
  border-radius: 2em;
  border: none;
  background-color: rgb(240, 240, 240);
  height: 2.4em;
  width: 25%;
}

#icon {
  position: relative;
}

#icon input {
  width: 100%;
  padding-left: 2em;
}

nav ul ion-icon {
  margin-top: 1px;
  cursor: pointer;
  padding: 1px;
}

#icon ion-icon {
  position: absolute;
  margin: 8px 0 0 5px;
  cursor: pointer;
  border: none;
}

nav ul input:focus {
  border: 0;
  outline: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  font-size: 16px;
}

nav ul li#basket {
  font-size: 21px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* PAGE PANIER */

/* MAIN */

main {
  width: 80%;
  display: grid;
  padding: 3% 0;
  margin: auto;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-areas:
    "title title ."
    "articles articles panier"
    "articles articles paid"
    "articles articles .";
  gap: 3em;
}

section#paid {
  grid-area: paid;
}

.pageTitle {
  grid-area: title;
}

.pageTitle button {
  border: none;
  background: none;
}

.pageTitle button a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.shoes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 4em;
}

.shoes > img {
  width: 15%;
  padding-right: 2em;
}

.infos {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.descriptionCart ul li {
  list-style-type: none;
  padding: 0.5em 0;
  font-size: 13px;
}

#btnAdd button {
  cursor: pointer;
  border: 0;
  background: none;
  text-decoration: underline;
  font-weight: 600;
}

.quantity_price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* SECTION ARTICLES */
section#articles {
  padding-bottom: 2em;
  grid-area: articles;
}

/* SECTION PANIER */
section#panier {
  background-color: rgb(240, 240, 240);
  grid-area: panier;
}

section#panier h2 {
  margin: 10px;
  padding: 10px;
}

section#panier div.contentbasket {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.769);
}

.article {
  padding-bottom: 1em;
}
.article span {
  padding-bottom: 1em;
}

.number-delete {
  padding-bottom: 1em;
}

section#panier span.productname {
  font-weight: bold;
  text-decoration: underline;
}

section#panier span.price {
  font-weight: bold;
}

.productname {
  display: flex;
  flex-direction: column;
}

.number-delete {
  display: flex;
  justify-content: space-between;
}

#infosprix {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

#infosprix > div {
  display: flex;
  justify-content: space-between;
}

#infosprix > div:nth-child(4) {
  font-weight: bold;
}

#panier > button {
  cursor: pointer;
  color: white;
  border: none;
  background-color: #30a56e;
  font-weight: 600;
  width: 100%;
  height: 3.5em;
  text-transform: uppercase;
}

.buttondelete {
  cursor: pointer;
  color: red;
  background: none;
  border: none;
  font-size: 15px;
}

/* SECTION CREDIT CARDS*/

section#paid {
  background-color: rgb(240, 240, 240);
  padding: 1em;
}

#creditCard {
  display: flex;
  width: 100%;
  justify-content: center;
}

#creditCard ul {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

#creditCard ul li {
  padding: 1em;
  display: flex;
  justify-content: center;
}

#creditCard ul li img {
  cursor: pointer;
  width: 60%;
}

/* PAGE GALLERY */

.gallery {
  display: grid;
  margin: auto;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 60px 0;
}

.gallery a {
  text-decoration: none;
  color: inherit;
}

.product {
  width: 100%;
  padding-bottom: 8px;
}

.product:hover {
  filter: opacity(70%);
  transition: 0.3s ease-in-out;
}

.productColor {
  display: flex;
  gap: 8px;
  width: 70px;
  height: 70px;
}

.description p:nth-child(2) {
  padding: 8px 0;
}

h2.nbArt {
  margin: 60px auto 0 auto;
  width: 80%;
}

/* FOOTER */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272727;
  height: 200px;
}

.social a ion-icon {
  padding: 0 0.5em;
  color: rgb(240, 240, 240);
  font-size: 25px;
}

#copyright {
  color: rgb(129, 129, 129);
  padding: 0.5em;
  text-align: center;
  background: #1b1b1b;
}

#copyright p {
  font-size: 12px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  /* NAVIGATION MENU */
  #burger {
    display: flex;
    width: 35px;
    height: 24px;
    position: relative;
    cursor: pointer;
    top: 0;
  }

  #burger span {
    width: 100%;
    height: 3px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  #burger span::before,
  #burger span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease-in-out;
  }

  #burger span::before {
    transform: translateY(-10px);
  }

  #burger span::after {
    transform: translateY(10px);
  }

  #burger.active span {
    background-color: transparent;
    transition: 0.2s;
  }

  #burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
  }

  #burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
  }

  nav {
    position: sticky;
    width: 100%;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
  }

  nav ul {
    display: none;
  }

  nav ul li a {
    font-size: 18px;
  }

  nav ul li#basket ion-icon {
    font-size: 25px;
  }

  .nav-open {
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  nav > a {
    display: none;
  }

  nav ul li#icon {
    display: none;
  }
  /* CART PRODUCTS */
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "articles"
      "panier"
      "paid";
    gap: 3em;
  }

  #panier,
  #paid {
    display: none;
  }

  /* PAGE GALLERY */
  .gallery {
    grid-template-columns: 1fr;
    padding: 40px 0;
  }

  /* FOOTER */
  .social {
    height: 100px;
  }
  .social a ion-icon {
    font-size: 20px;
  }
  #copyright p {
    font-size: 10px;
  }
}
